<p>
ID: <%= user.id %><br/>
<% if (user._json.kakao_account.profile.nickname) { %>
Name: <%= user._json.kakao_account.profile.nickname %><br/>
<% } %>
<% if (user.emails) { %>
Email: <%= user.emails[0].value %><br/>
<% } %>
</p>
<img src="<%= user._json.kakao_account.profile.thumbnail_image_url %>">
<p><a href="/logout">Log Out</a></p>
